.blog-card {
    .content {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 0.5rem;
        background: $light;
        margin: 0rem 1.5rem 0;
        position: relative;
        margin-top: -6rem;
        box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.40);
    }
}