.btn {
    display: inline-flex;
    padding: 0.875rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    border-radius: 0rem;
    margin: 0 1rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    position: relative;

    &::before {
        content: '';
        left: -0.75rem;
        top: -5px;
        bottom: -5px;
        width: 10px;
        position: absolute;
        transition: 0.2S ease-in-out;
        background: url(../../assets/images/bracket-left.svg) center left/contain no-repeat;
    }

    &::after {
        content: '';
        top: -5px;
        bottom: -5px;
        width: 10px;
        right: -0.75rem;
        position: absolute;
        transition: 0.2S ease-in-out;
        background: url(../../assets/images/bracket-right.svg) center right/contain no-repeat;
    }

    &:hover {
        &::before {
            transform: scale(1.25);
        }

        &::after {
            transform: scale(1.25);
        }
    }

    &.btn-primary {
        background: $btn-primary;
        color: $white;

        &:hover {
            color: $white;
            background: $primary;
        }

        &:disabled {
            background: $lightgrey;
            opacity: 0.6;
        }
    }

    &.btn-secondary {
        background: $btn-secondary;
        color: $white;

        &:hover {
            color: $white;
            background: $primary;
        }

        &:disabled {
            background: $lightgrey;
            opacity: 0.6;
        }
    }

    @include breakpoint(small) {
        padding: 0.875rem 1rem;
    }
}