// Neutral
$black: #000000;
$grey: #717171;
$white: #FFFFFF;

// Main Colors
$primary: #8491FF;
$secondary: #00042A;
$btn-primary: #01073A;
$btn-secondary: #62BCFC;
$info: #2194f3;

// Actions Colors
$warning: #FBC02D;
$error: #E53835;
$success: #2E7D31