section {
    padding: 6rem 0;
    position: relative;

    @include breakpoint(small) {
        padding: 4rem 0;
        overflow: hidden;
    }

    &.hero-section {
        &::before {
            content: '';
            position: absolute;
            top: -734px;
            left: -877px;
            width: 1288px;
            height: 1288px;
            z-index: -1;
            background: transparent radial-gradient(closest-side at 50% 50%, #62BCFCA8 0%, #62BCFC00 100%);
        }

        @include breakpoint(small) {
            text-align: center;
        }

        figure {
            @include breakpoint(large) {
                text-align: center;
            }

            img {
                margin-bottom: -1rem;

                @include breakpoint(large) {
                    max-width: 500px;
                }

                @include breakpoint(small) {
                    max-width: 100%;
                }
            }
        }

        .social-io {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            position: absolute;
            z-index: 1;
            bottom: 3rem;

            @include breakpoint(medium) {
                display: none;
            }

            li {
                a {
                    display: inline-block;
                    color: $white;
                    font-size: 1rem;
                    text-decoration: none;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: $primary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &.about_section {
        background: #030834 url(../../assets/images/about-laptop.png) right bottom/800px no-repeat;
        position: relative;

        &::before {
            content: '';
            left: 0px;
            top: -200px;
            z-index: -1;
            width: 1000px;
            height: 1000px;
            position: absolute;
            background: transparent radial-gradient(closest-side at 50% 50%, #62BCFCA8 0%, #62BCFC00 100%);
        }

        @include breakpoint(medium) {
            background: none;
        }

        .bulb {
            position: absolute;
            right: 10rem;
            top: 0;
            max-width: 200px;
            z-index: 1;
        }

        .icons_wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;

            span {
                display: flex;
                align-items: center;
                gap: 1rem;
                flex: 1 0 calc(25% - 0.75rem);
                color: $white;
                font-size: 1.125rem;

                @include breakpoint(small) {
                    flex: 1 0 115px;
                }
            }
        }
    }


    &.service_section {
        &::before {
            content: '';
            top: 0;
            left: 50%;
            width: 1288px;
            height: 1288px;
            position: absolute;
            z-index: -1;
            transform: translateX(-50%);
            background: transparent radial-gradient(closest-side at 50% 50%, #62BCFCA8 0%, #62BCFC00 100%);
            opacity: 0.23;
        }

        .service-card {
            figure {
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                    border-radius: 20px;
                    transition: 0.3s ease-in-out;
                }
            }

            .content {
                padding: 3.5rem 2rem 2rem;
                margin-top: -2.5rem;
                background: #020735;
                border-radius: 20px;
                transition: 0.3s ease-in-out;

                p {
                    color: $gray;
                    margin: 0;
                }
            }

            &:hover {
                figure {
                    img {
                        transform: scale(1.125) rotate(3deg);
                    }
                }

                .content {
                    transform: translateY(10px);
                }
            }
        }
    }

    &.project_section {
        background: #030834;

        &::before {
            content: '';
            top: 250px;
            left: 50%;
            width: 1288px;
            height: 1288px;
            position: absolute;
            z-index: -1;
            transform: translateX(-50%);
            background: transparent radial-gradient(closest-side at 50% 50%, #62BCFCA8 0%, #62BCFC00 100%);
            opacity: 0.23;
        }

        .swiper-wrapper {
            transition-timing-function: linear !important;
        }

        .project_card {
            overflow: hidden;
            border-radius: 30px;
            cursor: pointer;

            @include breakpoint(small) {
                border-radius: 16px;
            }

            img {
                transition: 0.2s ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.125) rotate(-1deg);
                }
            }
        }
    }

    &.qualification_section {
        .experience-slider {
            overflow-x: hidden;
            display: flex;

            .exp-card {
                min-width: 30vw;
                position: relative;

                .title-bar {
                    display: flex;
                    align-items: center;

                    span {
                        &.dot {
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background: $btn-secondary;
                            display: inline-block;
                            margin-right: 8px;
                        }

                        &.date {
                            display: inline-block;
                            font-size: 0.875rem;
                            font-weight: 400;
                            color: $white;
                            border-radius: 25px;
                            background: $btn-secondary;
                            padding: 4px 8px;
                        }

                        &.bar {
                            flex: 1;
                            height: 1px;
                            background: $btn-secondary;
                        }
                    }

                }

                .content {
                    padding: 1.25rem 0;
                    margin-right: 1.5rem;
                    max-width: 400px;
                    border-radius: 20px;

                    h4 {
                        font-size: clamp(1.25rem, 4vw, 1.75rem);
                        font-weight: 500;
                        margin-top: 0.5rem;
                    }

                    h5 {
                        font-size: 1.25rem;
                        font-weight: 500;
                        color: $primary;
                    }

                    p {
                        font-size: 1rem;
                        line-height: 1.4;
                        font-weight: 400;
                        margin: 0;
                    }
                }

                &:last-child {
                    .title-bar {
                        span {
                            &.bar {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

    }

    &.testimonial_section {
        .swiper-slide {
            padding: 1.25rem 0;

            .testimonial-card {
                padding: 2rem;
                min-height: 250px;
                background: #00042A;
                // border-radius: 30px;
                // border: 1px solid rgba(132, 144, 255, 0.3);
                transition: 0.3s ease-in-out;

                @include breakpoint(small) {
                    padding: 2rem 1.5rem;
                }

                p {
                    // display: -webkit-box;
                    // -webkit-line-clamp: 4;
                    // text-overflow: ellipsis;
                    // overflow: hidden;
                    // -webkit-box-orient: vertical;
                    margin-bottom: 1.5rem;
                    display: inline;
                }

                .user-info {
                    figure {
                        margin: 0;

                        img {
                            max-height: 5rem;
                            max-width: 5rem;
                        }
                    }
                }

                &:hover {
                    background: rgba(132, 144, 255, 0.1);
                }
            }

            &.swiper-slide-active {
                padding: 1rem 0;

                @include breakpoint(small) {
                    padding: 0.75rem;
                }

                .testimonial-card {
                    background: rgba(132, 144, 255, 0.1);
                }
            }
        }
    }

    &.industries_section {
        .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem 0;

            &-card {
                flex: 0 0 20%;
                padding: 0 10px;
                position: relative;
                gap: 4px;
                display: flex;
                align-items: center;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 100%;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    background: url(../../assets/images/left.svg) center left/contain no-repeat;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 10px;
                    height: 100%;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    background: url(../../assets/images/right.svg) center right/contain no-repeat;
                }

                @include breakpoint(medium) {
                    flex: 1 1 150px;
                }

                &-content {
                    gap: 8px;
                    width: 100%;
                    display: flex;
                    color: $white;
                    padding: 10px;
                    align-items: center;
                    border-radius: 4px;
                    background: #070B31;
                    transition: 0.2s ease-in-out;

                    span {
                        color: inherit;
                        font-size: 1rem;
                        font-weight: 600;
                        display: inline-block;
                        white-space: nowrap;
                        transition: 0.2s ease-in-out;
                    }
                }

                &:hover {

                    &::before,
                    &::after {
                        opacity: 1;
                        transform: scale(1.25);
                    }

                    >.wrapper-card-content {
                        // target the direct child element with class .card-content
                        background-color: #62BCFC;
                        color: $black;
                    }
                }
            }
        }
    }

    &.blog_section {
        background: #030834;

        .swiper-slide {
            padding: 1.25rem 0;

            .blog-card {
                figure {
                    overflow: hidden;
                    border-radius: 30px;
                    border: 1px solid #707070;

                    img {
                        transition: 0.3s ease-in-out;
                    }
                }

                &:hover {
                    figure {
                        img {
                            transform: scale(1.125);
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                height: 12px;
                width: 12px;
                background: $white;
                opacity: 0.2;

                &.swiper-pagination-bullet-active {
                    opacity: 1;
                }
            }
        }
    }

    &.contact_section {
        .contact_form {
            .form-group {
                .form-control {
                    border: 0;
                    border-bottom: 1px solid #707070;
                    border-radius: 0;
                    background: transparent;
                    color: $white;
                    font-size: 1.25rem;
                    font-weight: 400;
                    min-height: 40px;

                    &::placeholder {
                        color: #9E9E9E;
                    }

                    &:focus {
                        box-shadow: none;
                        border-color: $primary;
                    }
                }

                textarea {
                    &.form-control {
                        min-height: 120px;
                        resize: none;
                    }
                }
            }

            &.news-letter {
                .form-group {
                    display: flex;
                    align-items: flex-end;
                    border-bottom: 1px solid #707070;
                    padding-bottom: 0.25rem;

                    input {
                        border: 0;
                    }

                    button {
                        margin-bottom: 1rem;
                        display: inline-block;
                    }

                    @include breakpoint(small) {
                        flex-direction: column;
                        border-bottom: 0;
                        gap: 1.5rem;

                        input {
                            border-bottom: 1px solid #707070;
                        }
                    }
                }
            }

            .btn {
                @include breakpoint(small) {
                    width: 80% !important;
                    margin: 0 auto;
                    display: block;
                }
            }
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 1.25rem;
            margin-top: 4rem;

            li {
                a {
                    color: $white;
                    font-size: 2rem;
                }
            }
        }
    }
}



.show-more {
    display: inline-block;
    cursor: pointer;
    border: 0;
    padding: 0;
    background: none;
    color: $white;
}


#sectionPin {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
    background: var(--text-color);
    color: var(--bg-color);
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 10vw;

    &>* {
        min-width: 60vw;
        padding: 0 5vw;
    }
}