header {
    .navbar {
        .navbar-nav {
            .nav-link {
                color: $white;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 400;
                display: inline-block;
                text-transform: uppercase;

                &:hover,
                &.active {
                    color: $primary;
                }
            }
        }

        .navbar-toggler {
            filter: brightness(100) invert(1);
        }
    }
}