header {
    .navbar {
        @include breakpoint(medium) {
            text-align: center;
        }

        .navbar-brand {
            img {
                @include breakpoint(large) {
                    max-width: 200px;
                }
            }
        }

        .navbar-nav {
            .nav-link {
                color: $white;
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 400;
                display: inline-block;
                text-transform: uppercase;

                &:hover,
                &.active {
                    color: $primary;
                }
            }

            @include breakpoint(large) {
                gap: 0.125rem !important;
            }
        }

        .navbar-toggler {
            .navbar-toggler-icon {
                filter: brightness(100) invert(0);
            }
        }

        .btn {
            @include breakpoint(large) {
                padding: 0.875rem 1.25rem;
            }
        }
    }
}