$inter: 'Inter', sans-serif;

.heading-1 {
    font-size: 4rem;
    line-height: 1.1875;
    font-family: $inter;

    @media(max-width:767px) {
        font-size: 2.25rem;
    }
}

.heading-2 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-family: $inter;
}

.heading-3 {
    font-size: 1.75rem;
    line-height: 1.285;
    font-family: $inter;
}

.heading-4 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-family: $inter;
}

.text-lg {
    font-family: $inter;
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
}

.text-md {
    font-family: $inter;
    font-size: 16px;
    line-height: 24px;
}

.text-sm {
    font-family: $inter;
    font-size: 14px;
    line-height: 20px;
}

.text-xs {
    font-family: $inter;
    font-size: 12px;
    line-height: 16px;
}